<h1>All Pledges</h1>

<h3>Pledges from other users:</h3>
<ul>
  <% @pledges.each do |el| %>
    <% unless check_pledge(el) %>
      <li><%= link_to "#{number_to_currency(el.amount)} from #{el.user.name} to #{el.project.name} by #{el.project.user.name}", project_path(el.project) %></li>
    <% end %>
  <% end %>
</ul>

<% if @current_user %>
  <h3>Your pledges:</h3>
  <ul>
    <% @pledges.each do |el| %>
      <% if check_pledge(el) %>
        <li><%= link_to "#{number_to_currency(el.amount)} from #{el.user.name} to #{el.project.name} by #{el.project.user.name}", project_path(el.project) %></li>
      <% end %>
    <% end %>
  </ul>
  <%= link_to "Back a new project", custom_find_pledge_path %>
<% else %>
  <%= link_to "Joint the fun and back a new project", custom_find_pledge_path %>
<% end %>
