<div class="row">
  <div class="col s12 center">
  <h1>Let's Get Started</h1>
  </div>
</div>

<blockquote>
Fundie helps artists, creators and pioneers reach their funding goals and make their bold ideas come alive. Join our Fundie community today as a creator or supporter.
</blockquote>

<div class="row">
  <div class="col s6 center">
    <%= link_to "Support", categories_path, :class => 'btn-large' %>
  </div>
  <div class="col s6 center">
    <%= link_to "Create", new_project_path, :class => 'btn-large teal lighten-3' %>
  </div>
</div>
