<h1>Back a new project</h1>
<ul>
  <% @projects.each do |el| %>
    <% unless check_project(el) %>
      <% if check_pledge(el) %>
        <li><%= link_to "#{el.name} by #{el.user.name} (You backed this project!!)", project_path(el) %></li>
      <% else %>
        <li><%= link_to "#{el.name} by #{el.user.name}", project_path(el) %></li>
      <% end %>
    <% end %>
  <% end %>
</ul>
