table {
  border: 1px solid black;
  width: 500px;
  margin-bottom: 40px;
  td {
    padding: 5px 10px;
    vertical-align: top;
  }
  th {
    background: white;
    color: black;
    border-bottom: 1px solid black;
    text-align: left;
    padding-left: 5px;
  }
  tr:nth-child(2n+1) {
    background: #B0E2FF;
  }
  td:nth-child(odd) {
  }
}

table.projects {
  width: 1000px;
  td:nth-child(1), th:nth-child(1) {
    width: 10%;
  }
  td:nth-child(2), th:nth-child(2) {
    width: 15%;
  }
  td:nth-child(3), th:nth-child(3) {
    width: 10%;
  }
  td:nth-child(4), th:nth-child(4) {
    width: 10%;
  }
  td:nth-child(5), th:nth-child(5) {
    width: 15%;
  }
  td:nth-child(6), th:nth-child(6) {
    width: 10%;
  }
  td:nth-child(7), th:nth-child(7) {
    width: 10%;
  }
  td:nth-child(8), th:nth-child(8) {
    width: 5%;
  }
  td:nth-child(9), th:nth-child(9) {
    width: 5%;
  }
}

table.categories {
  width: 400px;
  td:nth-child(1), th:nth-child(1) {
    width: 100px;
  }
  td:nth-child(2), th:nth-child(2) {
    width: 60px;
  }
  td:nth-child(3), th:nth-child(3) {
    width: 60px;
  }
  td:nth-child(4), th:nth-child(4) {
    width: 180px;
  }
}

button {
  padding: 30px;
  width: 200px;
  display: inline-block;
  margin: 0px 30px 70px 0px;
  a {
    text-decoration: none;
    font-size: 20px;
  }
}
