<h1><%= @category.name.titleize %> projects:</h1>

<% if @category.projects.count > 0 %>

  <%= link_to "Add a new #{@category.name} project", new_project_path, :class => 'btn' %>

  <%= render "shared/project", object: @category.projects %>

<% else %>
  <%= link_to "Be the first to add a new #{@category.name} project", new_project_path, :class => 'btn' %>
<% end %>
